pydantic==2.9.2
pydantic_core==2.23.4
typing_extensions==4.12.2
attrs==24.2.0
annotated-types==0.7.0
certifi==2024.8.30
idna==3.10
iniconfig==2.0.0
jmespath==1.0.1
jsonpath-ng==1.7.0
jsonschema==4.23.0
openapi-schema-validator==0.6.2
openapi-spec-validator==0.7.1
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
responses==0.25.3
scramp==1.4.5
six==1.16.0
s3transfer==0.10.3
pluggy==1.5.0
asn1crypto==1.5.1
docker==7.1.0
graphql-core==3.2.5
pytest==8.3.3
urllib3==2.2.3
xmltodict==0.14.2
joserfc==1.0.0
